* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --button-color: rgb(242, 95, 58);
    --button-hover-color: rgb(242, 95, 58, 0.5);
    --decoration-color: rgb(255, 239, 234);
    --section-color: rgb(242, 95, 58);
    --section-decoration-color: rgb(242, 95, 58, 0.5);
    --text-color: rgb(143, 148, 167);
    --text-hover-color: rgb(143, 148, 167);
    --text-font-family: "Be Vietnam Pro", sans-serif;
    --text-font-size: 16px;
    --title-color: rgb(35, 44, 81);
    --footer-color: rgb(29, 30, 37);
    --footer-text-color:  rgb(249, 249, 249);
}

body {
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    color: var(--text-color);
}

h1, h2, h4 {
    color: var(--title-color);
    font-weight: 700;
}

h1 {
    font-size: 56px;
}
h2 {
    font-size: 34px;
}

p{
    padding: 20px 0px;
}

ul {
    list-style-type: none;
}

.main-container{
    background-image: url("../img/bg-tablet-pattern.svg");
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* background-clip: initial; */
}

.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#drop-down {
    display: none;
}
.container-menu {
    padding: 70px 100px 40px;
}
.container-menu div ul li{
    color: var(--title-color);
}
.nav-list {
    margin: 0px 10px;
}

[class^="button"]{
    border: none;
    border-radius: 70px;
    padding: 10px 20px; 
}
.button1{
    background-color: var(--button-color);
    color: var(--footer-text-color); 
}

.button1:hover {
    background-color: var(--button-hover-color);
    color: var(--footer-text-color);
    transition-duration: 0.4s
}

.button2 {
    background-color: var(--button-color);
    color: var(--footer-text-color); 
}

.button3 {
    background-color: var(--footer-text-color);
    color: var(--button-color); 
}

.button3:hover {
    background-color: var(--footer-text-color);
    color: var(--button-hover-color);
    transition-duration: 0.4s
}

.section-menu {
    padding: 30px 80px;
    justify-content: space-between;
}

.section-title-principal {
    width: 50%;
    text-align: left;
    color: var(--footer-color);
    padding-top: 50px;
}

.section-title-principal p {
    width: 70%;
}

.section-image-principal {
    width: 50%;
}

.section-title-secundary {
    width: 50%;
    text-align: left;
    color: var(--footer-color);
    padding-top: 50px;
}

.section-title-secundary p {
    width: 70%;
}
.section-information-secundary {
    width: 50%;
}

.section-information-number {
    width: 20%;
}
.section-information-articule {
    width: 80%;
}
.container-testimonial {
    text-align:center;
    padding-bottom: 100px;
}
.container-testimonial h2 {
    padding-bottom: 70px;
}

.section-testimonial {
    width: 30%;
    text-align:center; 
}

.section-footer {
    background-color: var(--section-color);
    background-image: url("../img/bg-simplify-section-desktop.svg");
    padding-bottom: 60px;
}
.section-footer h2 {
    color: var(--footer-text-color)
}

footer {
    background-color: var(--footer-color);
    color: var(--footer-text-color);
}
.fotter-list div ul li {
    color: var(--footer-text-color)
}

.form-group{
    padding-bottom: 50px;
} 

.form-input {
    border: none;
    border-radius: 70px;
    padding: 10px 20px; 
}


@media ( max-width:375px){

    .container-menu {
        padding: 70px 10px 40px;
    }

    #nav-container-movil {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #drop-down {
        display: block;
        text-align:right;
        padding-left: 70px;
    }

    #nav-container-list, #nav-container-button {
        display: none;
    }
    .section-title-principal, .section-image-principal, .section-title-secundary, .section-information-secundary, .section-testimonial {
        width: 100%;
    }

    #testimonial2, #testimonial3{
        display: none;
    }
}
